@font-face {
	font-family: 'Stem Regular'; 
  font-style: normal;
  font-weight: normal;
	src: local('Stem Regular'),
		url(/fonts/Stem-Regular.otf); 
}

@font-face {
	font-family: 'Stem Bold'; 
  font-style: normal;
  font-weight: bold;
	src: local('Stem Bold'),
		url(/fonts/Stem-Bold.otf); 
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Stem Regular';
}

html {scroll-behavior: smooth;}


/* ========== Menu ==========*/

.topnav {
  display: flex;
  position: relative;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: #fab529;
  z-index: 10;
  width: 100%;
  justify-content:space-between;

}

.topnav-left {
  display: flex;
  align-content: center;
}

.logo {
  max-width: 100px;
}

.logo-text {
  align-self: center;
  font-size: 24pt;
}

.email-button {
  align-self: center;
  margin-right: 1em;
  font-size: 24pt;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.3);
}

.email-text {
  padding: 0.1em;
  border: 0.1em solid white;
  border-radius: 5%;
  color: black;
  background-color: white;
}

/* ========== Slider ==========*/


.main{
  padding-bottom: 100px;
  margin-top: 4vh;
}

.main-content:not(:nth-child(1)){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderImg{
  max-width:100%;
  width:450px;
  height:300px;
}

.span-style{
  color:black;
}

.swiper {
  height:600px;
  min-width:100%;
  margin-bottom: 3vh;
}

.swiper-slide{
  background-size:cover;
  background-position: center center;
}

.swiper-button-prev::after {
  color:#fab529;
}

.swiper-button-next::after {
  color:#fab529;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color:#fab529;
}

.text-content {
  max-width: 80%;
  margin: 0 auto;
}

/* ========== Auth ==========*/

.auth-container {
  margin: 80px auto;
}

.email {
  position: relative;
  margin: 150px auto 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.email:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.auth-header {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(85, 85, 85);
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px whitesmoke;
}

.email p {
  margin: 20px 0 0;
}
.email p:first-child {
  margin-top: 0;
}

.email input[type=text], .email input[type=password], .email input[type=email] {
  width: 278px;
}

.email div.submit {
  text-align: center;
}
button.auth-submit{
  text-align: center;
}
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.auth-input {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #f7f4ef;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

.auth-input:focus, .auth-input:focus {
  border-color: #f0cd87;
  outline-color: #fceedc;
  outline-offset: 0;
}

.auth-submit {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(85, 85, 85);
  text-shadow: 0 1px #f1ebe3;
  background: #f3f3f3;
  border: 1px solid;
  border-color: #cec1b4 #c8c1b3 #c2b49e;
  border-radius: 16px;
  outline: 0;
  box-sizing: content-box;
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.auth-submit:active {
  background: #f3f3f3;
  border-color: #c2b59e #c8c0b3 #cec2b4;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
/* ========= Footer ========== */

.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18pt;
  background-color: #202020;
  color: white;
  padding: 0 2vw;
  position: fixed;
  left: 0;
	bottom: 0;
  z-index: 5;
}

.footer-left {
  font-size: 0;
}

.footer-right, .footer-center {
  padding-right: 2vw;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right-text {
  display: inline-block;
}

.footer-soc {
  display: inline-block;
  padding: 20px 20px;
}

.soc-svg {
  display: block;
  width: 40px;
  height: 40x;
}

@media (max-width: 640px) {
  .footer-soc {padding: 8px 8px;}
  .footer {font-size: 12pt;}
  .soc-svg {width: 30px;
    height: 30x;}
}

/* =========== Order ============= */

.order-select {
  margin: 2vh 2vw;
}

.order-select-header {
  padding: 1vh 0;
}

.time-select, .date-select, .time-start-select {
  min-height: 2vh;
  min-width: 10vw;
}

.order-submit {
  padding-top: 1vh;
}

.order-submit-btn {
  min-height: 2vh;
  min-width: 4vw;
}